
/* @import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

* {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
 */

.clickable {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  color: #394d54;
}

blockquote {
  color: #999;
  font-size: 13px;
}

.page-presentation .panel {
  text-align: center;
  cursor: pointer;
}

.page-presentation .panel:hover {
  background-color: #f6f6f6;
}

.page-presentation .panel .panel-body {
  padding-bottom: 35px;
}

.project-description h1 {
  border-bottom: 1px solid #337ab7;
}

/* 
.project-description div.col-md-8:after {
  content: '----';
  color: #ccc
}
 */
.project-description h2 {
  border-bottom: 1px solid #ddd;
}

.page-presentation .panel .comment {
  font-weight: bold;
  color: #bbb;
}

footer {
  margin-top: 20px;
  padding: 80px 0;
  background-color: #eee;
}


/* 
ol {
    margin-left: 0;
    padding-right: 0;
    list-style-type: none;
}

ol li {
    counter-increment: step-counter;
}

ol li::before {
    content: counter(step-counter);
    margin-right: 5px;
    font-size: 80%;
    background-color: rgb(200,200,200);
    color: white;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 3px;
}
 */
/* LIST #2 */
/* 
ol { 
   font-style:italic; 
   font-family:Georgia, Times, serif; 
   font-size:24px; 
   color:#bfe1f1;  
 }
 ol li { 
   padding:8px; 
   font-style:normal; 
   font-family:Arial; 
   font-size:13px; 
   color:#eee; 
   border-left: 1px solid #999; 
 }
 ol li em { 
   display:block; 
 }


 */