<!DOCTYPE html>
<html ng-app="mtImpress">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dewelopment oprogramowania</title>

    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <base href="/">
  </head>
  
  
  <body ng-controller="AppCtrl">
    <header>
      <div class="jumbotron">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 clickable" ng-click="setView({ src: 'intro' })">
              <h2>Długo- i krótkoterminowe kierunki rozwoju</h2>
              <span>Definicja problemów, określenie celów, ogólny zarys dojścia</span>
            </div>
          </div>
        </div>
      </div>      
    </header>
    
    <div class="container page-presentation">
      <div class="row">
        
        <div class="col-md-4" ng-repeat="view in views"
             ng-class="$even ? 'col-md-offset-2' : ''"
             ng-click="setView(view)">
          <div class="panel panel-default panel-primary">
            <div class="panel-body">
              <h3 ng-bind="view.title"></h3>
              <span class="comment" ng-bind="view.subtitle"></span>
            </div>
          </div>
        </div>        
      </div>
      
      <div class="row project-description">
        <div class="col-md-8 col-md-offset-2">
          <div btf-markdown ng-include="viewPath"></div>
        </div>
      </div>
    </div>
    
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <span class="pull-right text-muted">
              <a href="mailto:marek.romanowski@gmail.com">Marek Romanowski</a> @ 2015
            </span>
          </div>
        </div>
      </div>
    </footer>
    
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.js"></script>
    <script type="text/javascript" src="//rawgit.com/showdownjs/showdown/master/compressed/Showdown.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0-beta.6/angular.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0-beta.6/angular-sanitize.js"></script>
    <script type="text/javascript" src="//rawgit.com/btford/angular-markdown-directive/master/markdown.js"></script>
    <script type="text/javascript" src="js/external/impress.js"></script>
    
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>